<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário 1</title>
</head>
<body>
    <h2>Formulário - Exercício</h2>
    <form action="../primeiro_projeto/formulario1.php" method="post">
        <label>Nome:</label>
        <input type="text" name="nome" required><br><br>

        <label>Cidade:</label>
        <input type="text" name="cidade" required><br><br>

        <label>Email:</label>
        <input type="email" name="email" required><br><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
